
.footer-relative {
    position: relative;
    // z-index: -2;
    background-color: #fff !important;
}
.footer-wrapper {
    display: none;
    width: 98%;
    margin: 0 auto;
    // padding-bottom: 10%;
}
.footer-wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    :nth-child(2){
        color: #333333;
        font-size: 13px;
    }
}
.active {
    color: $base-color !important;
}

@media screen and (max-width: 768px) {
    .footer-wrapper {
        position: fixed;
        display: block !important;
        z-index: 999;
        bottom: 0;
        background-color: #fff !important;
        padding-top: 2%;
    }
}
