.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    // background-color: white;
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    position: absolute;
    top: calc(100% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45vh;
    background-color: white;
    width: 100%;
}
.title-wrapper-modal {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 10%;
    :nth-child(odd) {
        font-size: 13px;
        color: $base-color;
        border: none;
        background-color: white;
        font-weight: 500;
    }
    :nth-child(2) {
        font-size: 14px;
        border: none;
        background-color: white;
        font-weight: 600;
    }
}
.dropdown {
    position: absolute;
    // top: calc(50% - 50px);
    // left: 50%;
    // transform: translate(-50%, -50%);
    // background: red;
    width: 100%;
    padding: "10px";

    div {
        display: flex;
        flex-direction: column;
        @for $i from 1 through 2 {
            .text-#{$i} {font-size: 12px * $i; }
        }
        > p {
            text-align: center;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            // font-size: 14px;
            &:hover {
                background-color: #f3f3f3;
            }
            
        }
    }
}
