%colors {
    color: #f27a19;
}
%bgColors {
    color: #f27a19;
}
$base-color: #f27a19;

.color-base {
    color: #f27a19;
    font-size: 1rem;
    font-weight: 600;
}
.color-red {
    color: #ec1c36;
    font-size: 1rem;
    font-weight: 600;
}
.color-green {
    color: #3ac05c;
}
.color-white {
    color: gray;
}
